/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 de febr. 2025, 9:04:46
    Author     : aula1PTD1
*/



#banderas{position:relative; top: 550; left:400px;} 
#imgenes{position:relative; top: -400; left:400px;} 
#di{position:relative; top: -400; left:400px;} 
#gat{position:relative; top: -290; left:100px;} 