/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 de febr. 2025, 9:04:46
    Author     : aula1PTD1
*/



#banderas{position:relative; top: -525px; left:370px;} 
#imagenes{position:relative; top: -400px; left:400px;} 
#di{position:relative; top: -400px; left:400px;} 
#gatos{position:relative; top: -400px; left:400px;} 
#counter{position:relative; top: -400px; left:610px;}
#Pista{position:relative; top: -60px; left:100px;}
#Etsde{position:relative; top: -207px; left:90px;}
#moix7{position:relative; top: -255px; left:90px;}
#sopes{position:relative; top: -323px; left:90px;}
#teclat{position:relative; top: -450px; left:550px;}
#Teclat{position:relative; top: -450px; left:320px;}

html {
    background:#222;
    margin:0;
    width:640px;
    height:480px;
}

body {
    background:linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
    border:1px solid black;
    padding:10px 20px;
    box-shadow:5px 0px 30px #000;
    border-radius:8px;
    margin:0;
    width:640px;
    height:480px;
}

h1, a {
    background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
    border: 1px solid black;
    padding: 1px 1px;
    box-shadow: 5px 0px 30x #000;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
}

h2 {
    color: white;
}